
<div class="container-fluid">
  <div class="row">
    <%= render 'patrial/navbar' %>
    <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
      <%= render('patrial/sidebar', menu: {active: "настройки"}) %>

      <div class="col-lg-6">
        <div class="alert alert-info"> Обновление информации о приложении для подключении к API </div>
        <%= form_for(@information, :html => {onsubmit: "return checkFealds()"}) do |f| %>
            <% if @information.errors.any? %>
                <div id="error_explanation">

                  <% @information.errors.full_messages.each do |msg| %>
                      <div class="alert alert-warning" role="alert"><%= msg %></div>
                  <% end %>
                </div>
            <% end %>

            <div id="client_id" class="form-group"><%= f.text_field :client_id, class: "form-control", placeholder: "client_id*", maxlength: 30 %></div>
            <div id="client_secret" class="form-group"><%= f.text_field :client_secret, class: "form-control", placeholder: "client_secret*", maxlength: 30 %></div>
            <div id="code" class="form-group"><%= f.text_field :code, class: "form-control", placeholder: "code*", id: "code*", maxlength: 30 %></div>
            <br/>

            <%= f.submit 'Обновить', class: "btn btn-primary" %>

        <% end %>
      </div>

    </div>
  </div>
</div>