
<div class="container-fluid">
  <div class="row">
    <%= render 'patrial/navbar' %>
    <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
      <%= render('patrial/sidebar', menu: {active: "акция"}) %>
      <div class="col-lg-6">
        <div class="well well-lg">
              <% if @information_to_connect && @information_to_connect.access_token && @information_to_connect.code %>
                  <%= form_for(@stock, :html => {onsubmit: "return checkFealds()"}) do |f| %>
                      <% if @stock.errors.any? %>
                          <div id="error_explanation">

                            <% @stock.errors.full_messages.each do |msg| %>
                                <div class="alert alert-warning" role="alert"><%= msg %></div>
                            <% end %>
                          </div>
                      <% end %>

                      <div id="start_date" class="form-group"><%= f.text_field :start_date, class: "form-control", placeholder: "дата начала", maxlength: 30 %></div>
                      <div id="expiration_date" class="form-group"><%= f.text_field :expiration_date, class: "form-control", placeholder: "дата окончания", maxlength: 30 %></div>
                      <div id="expiration_time" class="form-group"><%= f.text_field :expiration_time, class: "form-control", placeholder: "время окончания", maxlength: 30 %></div>
                      <div id="number_of_the_winners" class="form-group"><%= f.text_field :number_of_the_winners, class: "form-control", placeholder: "число победителей", maxlength: 30 %></div>
                      <div id="hashtag" class="form-group"><%= f.text_field :hashtag, class: "form-control", placeholder: "хэштег", maxlength: 30 %></div>
                      <br/>
                      <%= f.submit 'Добавить', class: "btn btn-primary" %>
                  <% end %>
              <% else %>
                  Подключение не настроенно, для создания акции сначало настройте подключение в меню "настройки"!
              <% end %>
        </div>
      </div>
    </div>
  </div>
</div>