<!DOCTYPE html>
<html>
<head>
  <title>Insta</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>

  <%= javascript_include_tag "moment-with-locales.min", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "ion.calendar.min", "data-turbolinks-track" => true %>
  <%= stylesheet_link_tag    "ion.calendar", media: "all", "data-turbolinks-track" => true %>

  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
