<div class="container-fluid">
  <div class="row">
    <%= render 'patrial/navbar' %>
    <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
      <%= render('patrial/sidebar', menu: {active: "заблокированные"}) %>
      <div class="col-lg-6">

        <% if @members_false.length > 0 %>

            <% @members_false.each do |member| %>

                <div class="thumbnail">
                  <%= image_tag member.photo_url, height: '360', width: '360' %>
                  <div class="caption">
                    <h3>
                      <% if member.name.length > 0 %>
                          <%= member.name %>
                      <% else %>
                          Имя не указанно
                      <% end %></h3>

                    <p><b>@<%= member.nickname %></b> | <%= Time.at(@member.publication_date.to_i).to_formatted_s(:db) %></p>

                    <p>
                      <% if @member.display_in_stocks %>
                          <%= link_to 'Заблокировать', "/change/#{@member.id}", method: "get", type: "button", class: "btn btn-danger" %>
                      <% else %>
                          <%= link_to 'Разблокировать', "/change/#{@member.id}", method: "get", type: "button", class: "btn btn-primary" %>
                      <% end %>
                      <a href="#" class="btn btn-default" role="button"><b>Лайки:</b> <%= member.likes %></a>
                    </p>
                  </div>
                </div>

            <% end %>
            </tbody>
            </table>
        <% end %>
      </div>
    </div>
  </div>
</div>