<div class="container-fluid">
  <div class="row">
    <%= render 'patrial/navbar' %>
    <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
      <%= render('patrial/sidebar', menu: {active: "заблокированные"}) %>
      <div class="col-lg-8">

        <% if @members_false.length > 0 %>
            <table class="table table-hover">
              <thead>
              <tr>
                <th></th>
                <th></th>
              </tr>
              </thead>
              <tbody>
              <% @members_false.each do |member| %>
                  <tr>
                    <td>
                      <% if member.name.length > 0 %>
                          <%= member.name %>
                      <% else %>
                          Имя не указанно
                      <% end %>
                      &nbsp; <b>@<%= member.nickname %></b>
                    </td>
                    <td></td>
                  </tr>
                  <tr>
                    <td><%= image_tag member.photo_url, height: '360', width: '360' %>
                    <td></td>
                  </tr>
                  <tr>
                    <td> <b>Лайки:</b> <%= member.likes %></td>
                    <td><%= link_to 'Разблокировать', '/', method: "get", type: "button", class: "btn btn-default" %></td>
                  </tr>
              <% end %>
              </tbody>
            </table>
        <% end %>
      </div>
    </div>
  </div>
</div>