<div class="container-fluid">
  <div class="row">
    <%= render 'patrial/navbar' %>
    <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
      <%= render('patrial/sidebar', menu: {active: "бла"}) %>
      <div class="col-lg-6">
 <!--       <div class="thumbnail">
          <%= image_tag @member.photo_url, height: '360', width: '360' %>
          <div class="caption">
            <h3>
              <% if @member.name.length > 0 %>
                  <%= @member.name %>
              <% else %>
                  Имя не указанно
              <% end %></h3>

            <p><b>@<%= @member.nickname %></b></p>

            <p><%= link_to 'Разблокировать', '/', method: "get", type: "button", class: "btn btn-primary" %>
              <a href="#" class="btn btn-default" role="button"><b>Лайки:</b> <%= member.likes %></a></p>
          </div>-->
        </div>

        </tbody>
        </table>
      </div>
    </div>
  </div>
</div>